*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}
a{
    text-decoration: none;
}
p{
    margin: 0.75rem 0;
}
/* Utility classes */
.container{
    max-width: 68.75rem;
    margin: auto;
    padding: 0 2rem;
}
.text-center{
    text-align: center;
}
.text-primary{
    color: #93cb52;
}
.bg-light{
    background: #f4f4f4;
    color: #333;
}
.bg-dark{
    background: #333;
    color: #fff;
}
.bg-primary{
    background: #93cb52;
    color: #fff;
}
.l-heading{
    font-size: 4rem;
    margin-bottom: 0.75rem;
}
.m-heading{
    font-size: 2rem;
    margin-bottom: 0.75rem;
}
.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.btn{
    display: inline-block;
    color: #fff;
    background-color: #93cb52;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 0.3rem;
    transition: all 1s ease-in-out;
}
.btn:hover{
    background: #7ab436;
    transform: rotate(360deg);
}
.btn-dark{
  background: #333;
  color: #fff;
}
.py-1{padding: 1.5rem 0;}
.py-2{padding: 2rem 0;}
.py-3{padding: 3rem 0;}

.p-1{padding: 1.5rem;}
.p-2{padding: 2rem;}
.p-3{padding: 3rem;}

.list{
    margin: 0.5rem 0;
    list-style: none;
}
.list li{
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
}
/* Navbar */
#navbar{
    display: flex;
    position: sticky;
    top: 0;
    background: #333;
    color: #fff;
    justify-content: space-between;
    z-index:1;
    padding: 1rem;
}
#navbar ul{
    display: flex;
    align-items: center; 
    list-style: none; 
}
#navbar ul li a{
    padding: 0.75rem;
    color: #fff;
    margin: 0 0.25rem;
}
 #navbar ul li a:hover{
     background: #93cb52;
     border-radius: 0.3rem;
 }
 /* Showcase-Header */
 #showcase{
     background: #333 url('../images/showcase.jpg') no-repeat center center/cover;
     height: 100vh;
     color: #fff;
 }
 #showcase .showcase-content{
     display: flex;
     flex-direction: column;
     text-align: center;
     justify-content: center;
     align-items: center;
     height: 100%;
     padding: 0 2rem;
     /* Overlay */
     background-color: rgba(0,0,0,0.4);
 }
 /* Section- What We Do */
 #what .items{
     display:flex;
     padding: 1rem;
 }
 #what .items .item{
     flex:1;
     text-align: center;
     padding: 1rem;
 }
 #what .items .item i{
     background-color: #93cb52;
     border-radius: 50%;
     padding: 1rem;
     margin-bottom: 1rem;
 }
 /* Section-Who we are */
 #who{
     display: flex;
 }
 #who div{
     flex:1;
 }
 #who .who-img{
     background: url('../images/people.jpg') no-repeat center center/cover;

 }
 /* Section Clients */
 #clients .items{
     display: flex;
 }
 #clients .items img{
     display: block;
     width: 60%;
     margin: auto;
 }
 /* Section-- contact */
 #contact{
     display: flex;
 }
 #contact .contact-form, #contact .map{
     flex:1;
 }
 #contact .contact-form .form-group{
     margin: 0.75rem;
     
 }
 #contact .contact-form .form-group label{
     display: block;
 }
 #contact .contact-form input,
 #contact .contact-form .form-group textarea{
     width: 100%;
     padding: 0.5rem;
 }