/* removinf flex from what we do */
#what .items{
    display: block;
}

/* Align icons to left */
#what .items .item {
    display: flex;
    text-align: left;
}
/* Icon position */
#what .items .item i{
    margin-right: 1.3rem;
    align-self: center;
}
/* Smart phones */
@media (max-width:500px){
    #navbar{
        flex-direction: column;
        align-items: center;
    }
    #navbar .logo{
        margin-bottom: 1rem;
    }
    #navbar ul{
        margin-bottom: 0.5rem;
    }
    #who{
        display: block;
    }
    #who .who-img{
        display: none;
    }
    #clients .items img{
        width: 80%;
    }
    #clients .items div:last-child{
        display: none;
    } 
    #contact{
        flex-direction: column;
    }
    #contact .map{
        height: 18rem;
    }
}
@media (max-height:568px){
    .l-heading{
        font-size: 3rem;
    }
    .lead{
        font-size: 0.9rem;
    }
}