/* Align icons to left */
#what .items .item {
    display: flex;
    text-align: left;
}
/* Icon position */
#what .items .item i{
    margin-right: 1.3rem;
    align-self: center;
}
/* Map size */
#contact .map{
    flex:2;
}