/* Navbar- Social -Removal */
#main-nav .social{
    display: none;
}
#main-nav .container{
    grid-template-columns: 1fr;
    grid-gap: 1.2rem;
}
#main-nav .logo, #main-nav ul{
    justify-self: center;
}
#main-nav ul li a{
    padding: 0.5rem;
}
.showcase-container{
    grid-template-columns: 1fr;
}
#home-articles .articles-container{
    grid-template-columns: repeat(2,1fr);
}
#home-articles .articles-container article:first-child,
#home-articles .articles-container article:last-child{
    grid-template-columns: 1fr;
    grid-column: 1;
}

@media (max-width:500px){
    #home-articles .articles-container{
        grid-template-columns: 1fr;
    }
    #main-footer .footer-container{
        grid-template-columns: 1fr;
        grid-gap: 3rem;
    }
    #main-footer .footer-container div{
        padding-bottom: 1rem;
        border-bottom: #444 1px dotted;
    }
    #main-footer .footer-container div:nth-child(3),
    #main-footer .footer-container div:nth-child(4),
    #main-footer .footer-container div:last-child{
        border-bottom: none;
    }
    #main-footer .footer-container div:last-child{
        grid-column: 1;
    }
    .page-container{
        grid-template-columns: 1fr;
        text-align: center
    }
    .page-container .l-heading{
        font-size: 2rem;
        
    }
}