:root{
    --primary-color: #c72727;
    --secondary-color: #f99500;
    --light-color: #f3f3f3;
    --dark-color: #333;
    --max-width :1100px;
}
.category{
    --sports-color: #f99500;
    --ent-color: #a66bbe;
    --tech-color: #009cff;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    background: var(--light-color);
}
a{
    text-decoration: none;
    color: var(--dark-color);
}
ul{
    list-style: none;

}
img{
    width: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Staatliches', cursive;
    margin-bottom: 0.5rem;
    line-height: 1.3;
    text-transform: uppercase;
}
p{
    margin: 0.5rem 0;
}
/* Utility */
.container{
    max-width: var(--max-width); 
    margin: auto;
    padding: 0 2rem;
}
.category{
    display: inline-block;
    font-size: 0.55rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    padding: 0.4rem 0.6rem;
    border-radius: 1rem;
    color: #fff;
}
.category-sports{
    background-color: var(--sports-color);
}
.category-ent{
    background-color: var(--ent-color);
}
.category-tech{
    background-color: var(--tech-color);
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border: none;
    padding: 0.5rem 1.5rem;
    color: #fff;
}
.btn:hover{
    opacity: 0.9;
}
.btn-primary{
    background: var(--primary-color);
}
.btn-secondary{
    background: var(--secondary-color);
}
.btn-light{
    background: var(--light-color);
}
.btn-dark{
    background: var(--dark-color);
}
.btn-block{
    display: block;
    text-align: center;
    width: 100%;
}
.card{
    background: #fff;
    padding: 1rem;
}
.bg-dark{
    background: var(--dark-color);
    color: #fff;
}
.bg-primary{
    background: var(--primary-color);
    color: #fff;
}
.bg-secondary{
    background: var(--secondary-color);
    color: #fff;
}
.bg-dark h1,.bg-dark h2,.bg-dark h3,.bg-dark a,
.bg-primary h1,.bg-primary h2,.bg-primary h3,.bg-primary a,
.bg-secondary h1,.bg-secondary h2,.bg-secondary h3,.bg-secondary a{
    color: #fff;
}
.py-1{
    padding: 1.5rem 0;
}
.py-2{
    padding: 2rem 0;
}
.py-3{
    padding: 3rem 0;
}
.p-1{
    padding: 1.5rem;
}
.p-2{
    padding: 2rem;
}
.p-3{
    padding: 3rem;
}

.list li {
    border-bottom: #555 1px dotted;
    padding: 0.5rem 0;
    width: 90%;
}
.list li a:hover{
    color: var(--primary-color);
}
/* Inner page grid container */
.page-container{
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 1.5rem;
    margin: 2rem 0;
}
.page-container article{
    grid-row: 1 /span 3;
}
.l-heading{
    font-size: 3rem;
}
/* Navbar */
#main-nav{
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}
#main-nav .container{
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    align-items: center;
    padding: 1rem;
}
#main-nav .logo{
    width: 45%;
}
#main-nav ul{
    justify-self: end;
    display: flex;
}
#main-nav ul li a{
    padding: 0.75rem;
    font-weight: bold;
}
#main-nav ul li a.current{
    background: var(--primary-color);
    color: #fff;
}
#main-nav ul li a:hover{
    background: var(--light-color);
    color: var(--dark-color);
}
#main-nav .social {
    justify-self: center;
}
#main-nav .social a i{
    margin-right: 0.4rem;
    color: #777;
    transition: all 1s ease-in-out;
}
#main-nav .social a #blue:hover{
    color: royalblue;
    transform: scale(1.3);
}
#main-nav .social a #red:hover{
    color: orangered;
    transform: scale(1.3);
}
/* Showcase */
#showcase{
    color: #fff;
    background: var(--dark-color);
    padding: 2rem;
    position: relative;
}
#showcase:before{
    content: '';
    background: url('../img/featured.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
}
.showcase-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    height: 55vh;
}
.showcase-content{
    z-index: 1;
}
/* Home Articles */
#home-articles .articles-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}
#home-articles .articles-container article:first-child{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;    
    grid-column: 1/span 2;
    align-items: center;
}
#home-articles .articles-container article:last-child{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;    
    grid-column: 2/span 2;
    align-items: center;
}
 #article .meta{
     display: flex;
     justify-content: space-between;
     background: #eee;
     align-items: center;
     padding: 0.5rem;
 }
 #article .meta .category{
     margin-top: 0.4rem;
 }
/* footer */
#main-footer .footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.5rem;
}

#main-footer .footer-container img{
    width: 60%;
}
#main-footer .footer-container div:last-child{
    grid-column: 1/span 4;
    text-align: center;
    background: #444;
    padding: 0.8rem;
    font-size: 0.8rem;
}
#main-footer .footer-container input[type='email']{
    width: 90%;
    padding: 0.5rem;
}
#main-footer .footer-container input[type='submit']{
    width: 90%;
}
